version: '3'
services:
  app:
    build: .
    restart: unless-stopped
    ports:
      - '${APP_PORT:-3000}:3000'
    environment:
      - ORIGIN=${ORIGIN:-http://localhost:3000}
      - BODY_SIZE_LIMIT=Infinity
